* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: linear-gradient(217deg, #ddd, #eee);
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .container {
  width: 90%;
  height: 95%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
      grid-template-columns: 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 3%;
}

@media screen and (min-width: 950px) {
  body .container {
    height: 50%;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
  }
}

@media screen and (min-width: 1300px) {
  body .container {
    height: 20%;
    -ms-grid-columns: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    -ms-grid-rows: 1fr;
        grid-template-rows: 1fr;
  }
}

body .container .card {
  height: 100%;
}

@media screen and (min-width: 1300px) {
  body .container .card:hover .top {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
  }
  body .container .card:hover .bottom {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
    visibility: visible;
  }
}

body .container .card .top {
  height: 40%;
  background-color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
}

@media screen and (min-width: 1300px) {
  body .container .card .top {
    -webkit-transform: translateY(25%);
            transform: translateY(25%);
    height: 50%;
  }
}

body .container .card .bottom {
  background-color: #63bb8f;
  height: 60%;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  color: #fff;
  font-size: 14px;
}

@media screen and (min-width: 1300px) {
  body .container .card .bottom {
    -webkit-transform: translateY(-25%);
            transform: translateY(-25%);
    height: 90%;
    padding: 0 20px;
    opacity: 0;
    visibility: hidden;
  }
}

body .container .card .bottom .desc {
  text-align: center;
  padding: 5px 10px;
}

@media screen and (min-width: 950px) {
  body .container .card .bottom .desc {
    text-align: justify;
  }
}

body .container .card .bottom .desc .more {
  display: none;
}

@media screen and (min-width: 950px) {
  body .container .card .bottom .desc .more {
    display: inline;
  }
}

body .container .card .bottom .btn {
  font-size: 12px;
  padding: 5px 15px;
  background-color: #fff;
  border: 1px solid white;
  color: #63bb8f;
  text-decoration: none;
}

body .container .card .bottom .btn:hover {
  background-color: #63bb8f;
  color: white;
  border: 1px solid white;
}

.socials {
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20vh;
  width: 40vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.socials a {
  color: #bbb;
  -webkit-transition: .5s;
  transition: .5s;
}

.socials a:nth-child(1):hover {
  color: #3B5998;
}

.socials a:nth-child(2):hover {
  color: #CC181E;
}

.socials a:nth-child(3):hover {
  color: #00acee;
}
/*# sourceMappingURL=style.css.map */