$break-small: 800px;
$break-medium: 950px;
$break-large: 1300px;

$my-green: #63bb8f;

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}

body {
  background: linear-gradient(217deg, #ddd, #eee);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  .container {
    // background-color: white;
    width: 90%;
    height: 95%;
    display: grid;

    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-gap: 3%;

    @media screen and (min-width: $break-medium) {
      height: 50%;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    @media screen and (min-width: $break-large) {
      height: 20%;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }

    .card {
      height: 100%;

      @media screen and (min-width: $break-large) {
        &:hover .top {
          transform: translateY(0%);
        }

        &:hover .bottom {
          transform: translateY(0%);
          opacity: 1;
          visibility: visible;
        }
      }

      .top {
        height: 40%;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.5s;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);

        @media screen and (min-width: $break-large) {
          transform: translateY(25%);
          height: 50%;

        }
      }

      .bottom {
        background-color: $my-green;
        height: 60%;
        transition: 0.5s;
        box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;

        color: #fff;
        font-size: 14px;

        @media screen and (min-width: $break-large) {
          transform: translateY(-25%);
          height: 90%;
          padding: 0 20px;
          opacity: 0;
          visibility: hidden;
        }

        .desc {
          text-align: center;
          padding: 5px 10px;

          @media screen and (min-width: $break-medium) {
            text-align: justify;
          }



          .more {
            display: none;

            @media screen and (min-width: $break-medium) {
              display: inline;
            }
          }
        }

        .btn {
          font-size: 12px;
          padding: 5px 15px;
          background-color: #fff;
          border: 1px solid white;
          color: $my-green;
          text-decoration: none;

          &:hover {
            background-color: $my-green;
            color: white;
            border: 1px solid white;
          }
        }
      }
    }
  }
}

.socials {
  display: flex;
  align-items: center;
  justify-content: space-evenly;



  @media screen and (min-width: $break-medium) {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 20vh;
    width: 40vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
}

.socials a {
  color: #bbb;
  transition: .5s
}

.socials a:nth-child(1):hover {
  color: #3B5998
}

.socials a:nth-child(2):hover {
  color: #CC181E
}

.socials a:nth-child(3):hover {
  color: #00acee
}